<div class="container">
    <h1>Üye Liste</h1>

    <h3><b>Üye Kullanıcı Adı : </b>{{secUye?.KullaniciAdi}}</h3>
    <h3><b>Üye Kullanıcı Adı : </b>{{secUye?.Email}}</h3>
    <mat-form-field appearance="outline">
        <input matInput placeholder="Aranacak Bir Değer Giriniz" (keyup)="UrunFiltrele($event)">
    </mat-form-field>
    &nbsp;
    <button mat-fab color="accent">
        <mat-icon aria-label="label" matTooltip="Ürün Ekle" (click)="UyeUrunEkle()">add_shopping_cart</mat-icon>
    </button>
    <p></p>

    <!-- Ürünlerim -->

    <h3>Ürünlerim</h3>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Adi">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ürünün Adı
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Adi}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UrunFoto">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fotoğraf
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit">

                <div class="containerUrunFoto">
                    <img [src]="apiServis.siteUrl+'/Dosyalar/'+kayit.UrunFoto" alt="" style="width: 100px;" matTooltip="Fotoğrafı Güncellemek İçin Tıklayınız..." (click)="FotoGuncelle(kayit)">
                    <div class="overlayUrunFoto">
                        <div class="Uruntext" (click)="FotoGuncelle(kayit)">Resmi Değiştirmek için Tıklayın</div>
                    </div>
                </div>



            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Aciklama">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Açıklama
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Aciklama}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Fiyat">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fiyat
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Fiyat | currency: '₺'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Aktiflik">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Aktiflik
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Aktiflik}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="islemler">
            <mat-header-cell *matHeaderCellDef> İşlemler
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit">
                <button mat-icon-button matTooltip="Detaylar" [routerLink]="['/uyelistele',kayit.urunId]">
                    <mat-icon aria-label="label">info</mat-icon>
                </button>
                <button mat-icon-button color="accent">
                    <mat-icon aria-label="label" (click)="Duzenle(kayit)">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                    <mat-icon aria-label="label" (click)="UrunSil(kayit)">delete</mat-icon>
                </button>
            </mat-cell>

        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons>
    </mat-paginator>




    <!-- Siparişlerim -->


    <h3>Siparişlerim</h3>
    <mat-table [dataSource]="SiparislerimdataSource" matSort>
        <ng-container matColumnDef="SiparisUrun">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fotoğraf
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit">
                <img [src]="apiServis.siteUrl+'/Dosyalar/'+kayit.SiparisUrun?.UrunFoto" alt="" style="width: 100px;">
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SiparisUrun2">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ürünün Adı
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.SiparisUrun.Adi}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SiparisUrun3">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Açıklama
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.SiparisUrun?.Aciklama}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Fiyat">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fiyat
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Fiyat | currency: '₺'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SiparisDurum">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sipariş Durumu
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.SiparisDurum?.SiparisDurumu1}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="FirmaAdi">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Kargo Firması
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.SiparisKargo?.FirmaAdi}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="islemler">
            <mat-header-cell *matHeaderCellDef> Detaylar
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit">
                <button mat-icon-button matTooltip="Detaylar" (click)="DetayGor(kayit.TedarikUyeId)">
                    <mat-icon aria-label="label">info</mat-icon>
                </button>
            </mat-cell>

        </ng-container>



        <mat-header-row *matHeaderRowDef="SiparislerimdisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: SiparislerimdisplayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons>
    </mat-paginator>




    <!-- Gönderilecekler -->

    <h3>Gönderilecekler</h3>
    <mat-table [dataSource]="GonderilecekdataSource" matSort>
        <ng-container matColumnDef="SiparisUrun2">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ürünün Adı
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.SiparisUrun?.Adi}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="SiparisUrun">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fotoğraf
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit">

                <div class="containerUrunFoto">
                    <img [src]="apiServis.siteUrl+'/Dosyalar/'+kayit.SiparisUrun.UrunFoto" alt="" style="width: 100px;">
                </div>



            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SiparisUrun3">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Açıklama
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.SiparisUrun?.Aciklama}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Fiyat">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fiyat
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Fiyat | currency: '₺'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SiparisDurum">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Siparis Durumu
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.SiparisDurum?.SiparisDurumu1}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SiparisUye">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Adres
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Adres}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="islemler">
            <mat-header-cell *matHeaderCellDef> İşlemler
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit">
                <button mat-icon-button matTooltip="Detaylar" (click)="DetayGor(kayit.UyeId)">
                    <mat-icon aria-label="label">info</mat-icon>
                </button>
                <button mat-icon-button color="accent">
                    <mat-icon aria-label="label" (click)="SiparisDuzenle(kayit)">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                    <mat-icon aria-label="label" (click)="SiparisSil(kayit)" *ngIf="siparisdurum">delete</mat-icon>
                </button>
            </mat-cell>

        </ng-container>



        <mat-header-row *matHeaderRowDef="GonderilecekdisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: GonderilecekdisplayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons>
    </mat-paginator>




    <div class="row">
        <div class="col-md-4">
            <p>&nbsp;</p>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar><img [src]="apiServis.siteUrl+'/Dosyalar/'+secUye?.UyeFoto" alt="" style="width: 50px; height: 50px;  border-radius: 50%;"></div>
                    <mat-card-title>İletişim Bilgileri</mat-card-title>
                    <mat-card-subtitle>{{secUye?.Email}} </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p><b>İsim : </b> {{secIletisim?.Ad}}</p>
                    <p><b>Soy isim : </b>{{secIletisim?.Soyad}}</p>
                    <p><b>Adres : </b>{{secIletisim?.Adres}}</p>
                    <p><b>telefon : </b>{{secIletisim?.Telefon}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button color="primary">
                        <mat-icon aria-label="label" (click)="IletisimEkle(secUye?.uyeId)">add</mat-icon>
                    </button>&nbsp;
                    <button mat-icon-button color="accent">
                        <mat-icon aria-label="label" (click)="iletisimDuzenle(secIletisim)">edit</mat-icon>
                    </button>&nbsp;
                    <button mat-icon-button color="warn">
                        <mat-icon aria-label="label" (click)="iletisimSil(secIletisim)">delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p>&nbsp;</p>
            <mat-card>
                <div class="containerFoto">
                    <img [src]="apiServis.siteUrl+'/Dosyalar/'+secUye?.UyeFoto" alt="" class="imageFoto" (click)="UyeFotoGuncelle(secUye)">
                    <div class="overlayFoto" (click)="UyeFotoGuncelle(secUye)">
                        <div class="text">Resmi Değiştirmek için Tıklayın</div>
                    </div>
                </div>
                &nbsp;
                <mat-card-header>
                    <mat-card-title>Hesap Bilgileri</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p><b>Kullanıcı Adı : </b> {{secUye?.KullaniciAdi}}</p>
                    <p><b>Email: </b>{{secUye?.Email}}</p>
                    <p><b>Şifre : </b>{{secUye?.Sifre}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button color="accent">
                        <mat-icon aria-label="label" (click)="UyeDuzenle(secUye)">edit</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>