<mat-toolbar color="primary" class="mat-elevation-z8">
    <span>Düzenle</span>
</mat-toolbar>
<div class="container">
    <form [formGroup]="frm">
        <mat-form-field appearance="outline">
            <mat-label>Aktiflik</mat-label>
            <input matInput placeholder="Aktiflik" formControlName="Aktiflik" name="Aktiflik" required type="text">
        </mat-form-field>
    </form>

    <button mat-raised-button color="accent" [disabled]="frm.invalid" (click)="dialogRef.close(frm.value)">Kaydet</button>&nbsp;
    <button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button>

</div>