<div class="container">
    <h2>Üye Ol</h2>

</div>
<div class="container">
    <form [formGroup]="frmGroup">
        <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>Kullanıcı Adı</mat-label>
            <input matInput placeholder="Kullanıcı Adı" type="text" formControlName="KullaniciAdi">
        </mat-form-field>
        <p></p>
        <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="E-Mail" type="text" formControlName="Email" #email>
        </mat-form-field>
        <p></p>
        <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>Şifre</mat-label>
            <input matInput placeholder="Şifre" type="text" formControlName="Sifre" #parola>
        </mat-form-field>
        <p></p>
        <button mat-raised-button color="primary" (click)="KayitOl(frmGroup.value)">Kayıt Ol</button>&nbsp;
    </form>
</div>