<div class="container">
    <h1>{{secUrun?.Adi}}</h1>
    <button mat-fab color="primary" [routerLink]="['/urun']">
        <mat-icon aria-label="label">arrow_back</mat-icon>
    </button>&nbsp;
    <p></p>



    <mat-card class="example-card">
        <mat-card-header>

            <mat-card-title>{{secUrun?.Adi}}</mat-card-title>
            <mat-card-subtitle>{{secUye?.KullaniciAdi}}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="apiServis.siteUrl+'/Dosyalar/'+secUrun?.UrunFoto" alt="" style="width: 400px; height: auto;">
        <mat-card-content>
            <p></p>
            <h3>Açıklama</h3>
            <p>
                {{secUrun?.Aciklama}}
            </p>
            <p>Fiyat : {{secUrun?.Fiyat |currency : '₺'}}</p>
            <p></p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">Satın Al</button>
            <button mat-raised-button color="warn">Beğen (!! Test Aşamasında !!)</button>
        </mat-card-actions>
    </mat-card>


    <div class="row">
        <div class="col-md-4">
            <p>&nbsp;</p>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar><img [src]="apiServis.siteUrl+'/Dosyalar/'+secUye?.UyeFoto" alt="" style="width: 50px; height: 50px;  border-radius: 50%;"></div>
                    <mat-card-title>İletişim Bilgileri</mat-card-title>
                    <mat-card-subtitle>{{secUye?.Email}} </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p><b>İsim : </b> {{secIletisim?.Ad}}</p>
                    <p><b>Soy isim : </b>{{secIletisim?.Soyad}}</p>
                    <p><b>Adres : </b>{{secIletisim?.Adres}}</p>
                    <p><b>telefon : </b>{{secIletisim?.Telefon}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>