<div class="container" style="width: 100%;">
    <div>
        <mat-form-field appearance="outline" style="width: 45%; float: left;" color="accent">
            <mat-label color="accent">Ara</mat-label>
            <input matInput placeholder="Aranacak Bir Değer Giriniz" (keyup)="UrunFiltrele($event)" color="accent">
        </mat-form-field>

        <form [formGroup]="frm" style="margin-left: 10%; width: 45%; float: left;" color="accent">
            <mat-form-field appearance="outline" color="accent">
                <mat-label color="accent">Kategoriler</mat-label>
                <mat-select formControlName="kategoriId" color="accent">
                    <mat-option color="accent" [value]="Kategori.kategoriId" *ngFor="let Kategori of kategoriler" [routerLink]="['/kategorilistele',Kategori.kategoriId,Kategori.KatAdi]">
                        {{Kategori.KatAdi}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div>&nbsp;</div>

    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="UrunFoto">
            <mat-header-cell *matHeaderCellDef> Fotoğraf
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> <img [src]="apiServis.siteUrl+'/Dosyalar/'+kayit.UrunFoto" alt="" style="width: 100px;"> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Adi">
            <mat-header-cell *matHeaderCellDef> Ürünün Adı
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Adi}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Aciklama">
            <mat-header-cell *matHeaderCellDef> Açıklama
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Aciklama}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Fiyat">
            <mat-header-cell *matHeaderCellDef> Fiyat
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Fiyat | currency: '₺'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="islemler">
            <mat-header-cell *matHeaderCellDef> İşlemler
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit">
                <button mat-icon-button matTooltip="Detaylar" [routerLink]="['/uyelistele',kayit.urunId]">
                    <mat-icon aria-label="label">info</mat-icon>
                </button>
            </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>