<div class="container">
    <h1>Ürünler
    </h1>
    <mat-form-field appearance="outline">
        <input matInput placeholder="Aranacak Bir Değer Giriniz" (keyup)="UrunFiltrele($event)">
    </mat-form-field>
    <button mat-fab color="primary">
      <mat-icon aria-label="label" matTooltip="Ürün Ekle" (click)="UyeUrunEkle()">add_shopping_cart</mat-icon><P>&nbsp;</P>
    </button>
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="UrunFoto">
            <mat-header-cell *matHeaderCellDef> Fotoğraf
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> <img [src]="apiServis.siteUrl+'/Dosyalar/'+kayit.UrunFoto" alt="" style="width: 100px;" matTooltip="Fotoğrafı Güncellemek İçin Tıklayınız..." (click)="FotoGuncelle(kayit)"> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Adi">
            <mat-header-cell *matHeaderCellDef> Ürünün Adı
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Adi}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Aciklama">
            <mat-header-cell *matHeaderCellDef> Açıklama
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Aciklama}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Fiyat">
            <mat-header-cell *matHeaderCellDef> Fiyat
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.Fiyat | currency: '₺'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="islemler">
            <mat-header-cell *matHeaderCellDef> İşlemler
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit">
                <button mat-icon-button matTooltip="Detaylar" [routerLink]="['/uyelistele',kayit.urunId]">
                    <mat-icon aria-label="label">info</mat-icon>
                </button>
                <button mat-icon-button color="accent" matTooltip="Ürün Düzenle">
                    <mat-icon aria-label="label" (click)="UrunDuzenle(kayit)">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="Ürün Sil" (click)="UrunSil(kayit)">
                    <mat-icon aria-label="label">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>