<div class="container">
    <h1>Üye Liste</h1>

    <h3><b>Üye Kullanıcı Adı : </b>{{secUye?.KullaniciAdi}}</h3>
    <h3><b>Üye Kullanıcı Adı : </b>{{secUye?.Email}}</h3>

    <button mat-fab color="primary" [routerLink]="['/uye']">
    <mat-icon aria-label="label">arrow_back</mat-icon>
  </button>



    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Adi">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ürünün Adı
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.urunBilgi.Adi}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Aciklama">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Açıklama
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.urunBilgi.Aciklama}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Aktiflik">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Aktiflik
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.urunBilgi.Aktiflik}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Fiyat">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fiyat
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.urunBilgi.Fiyat}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UrunUyeSayisi">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Urun Uye Sayisi
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit"> {{kayit.urunBilgi.UrunUyeSayisi}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="islemler">
            <mat-header-cell *matHeaderCellDef> İşlemler
            </mat-header-cell>
            <mat-cell *matCellDef="let kayit">
                <button mat-icon-button color="warn">
          <mat-icon aria-label="label" (click)="Sil(kayit)">delete</mat-icon>
        </button>
            </mat-cell>

        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons>
    </mat-paginator>

</div>